html {
  scroll-behavior: smooth;
}

*{
    margin:0;
}
body{
    background-color: #FFF7F7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
  margin: 0 10vh 0 10vh;
}

ul {
  list-style-type: none;
}

.navBar{
    display:flex;
    width:auto;
    justify-content:space-between;
    align-items: center;
}

.menu{
    display: flex;
    align-self: flex-start;
}

.btnMenu{
    background-color: var(--bordeaux);  
    display:flex;
    justify-content: center;
    align-items: center;
    padding:15px; 
    border-radius: 0px 0px 10px 0px;
    border:none; 
    box-shadow: 2px 2px rgba(0,0,0,0.5);
}

.btnMenu img{
    width:3vw;
    cursor: pointer;
}

.logo{
    background-size: cover;
    width:7vw;
    height:7vw;
    margin-right: 3vw;
}

.searchBar{
    display:flex;
    column-gap: 2vw;
    align-items: center;
}
.searchInput{
    border-radius: 20px;
    border: black solid 1px;
    font-size:20px;
    width: 20vw;
    text-align: center;
    box-shadow: 1px 2px rgba(0,0,0, 0.5);
    font-family: Jaldi;
    word-spacing: 3px;
}

.btnSearch{
    border-radius: 100%;
    background-color: var(--bordeaux);
    border: none;
    width: 5.5vh;
    height: 5.5vh;
    display:flex;
    align-items:center;
    justify-content: center;
    cursor:pointer;
}

.btnSearch img{
    width:15px;
    cursor: pointer;
}

.carrossel {
    border:2px solid black;
    text-align: center;
    margin: 1rem;
}

.produtos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-zap {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 3px 3px 3px 0;
  cursor: pointer;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: var(--bordeaux);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition: transform 0.3s ease;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: black;
  font-family: JaldiBold;
  font-size: 25px; 
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

.espaco-titulo,.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe {
  border: 8px solid var(--bordeaux);
  width: 1120px;
  height: 630px;
  max-width: 100%;
  max-height: 100%;
}

.produtos {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  gap: 10px;
  padding: 50px;
}


.produtos li {
  flex-shrink: 0;
  width: 10%;
  height: 50%;
}

.produtos li {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  transition: transform 0.5s;
}

.produtos li:hover {
  transform: scale(1.1);
}

footer {
  background-color: #591540;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  position: relative;
  z-index: 1;
  margin: 0;
}

footer p {
  color: white;
  font-family: JaldiBold;
  margin: 10px;
}

#paisagem {
  display: flex;
  justify-content: center;
}

.produto li, .imagem-vinho {
  background-color: #611427;
  display: flex;
  justify-content: center;
  align-items: center;
  border:  5px solid black;
  border-radius: 5px;
}

.imagem-vinho img {
  background-color: #611427;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  min-height: auto;
}

#outros-produtos {
  margin-right: 5%;
  border-style: none;
}

.produtos h2, .produtos p {
  font-family: Italiana;
  text-align: center;
}

.titulo-produto {
  font-family: Italiana;
}

.container-produtos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#outros-produtos img {
  border-bottom: 10px solid black;
  min-height: 200px;
}

.container-produtos li {
  margin: 50px;
}

.container-produtos p, .mais-produtos, .produto p, .produto h2 {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

.mais-produtos img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  align-items: start;
}

#outros-produtos:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.descricao {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 60vmax;
  text-align: justify;
  text-justify: auto;
}

#contato{
 
  display: flex;
  justify-content: center;
  border: 2px;
  margin: 200px auto


}

form {
 background-color:white;
 width: 400px;
 height: 380px;
 padding: 20px;
 border: 1px solid black;
 border-radius:30px;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 display: flex;
 flex-direction: column;
 gap: 20px;
}

#submit{
  border-radius: 20px;
  height: 50px;
  width: 140px;
  background-color: #B9282C;
  color: white;
  margin: 0 auto
 
  
  
}

#forms{
  background-color: #FFF7F7;
  border-radius: 20px;
  height: 40px;
  font-weight: bold;
  
}

#nome-contato, #email-contato{
  background-color: #FFF7F7;
  border-radius: 20px;
  height: 60px;
  font-weight: bold;
}
#msg{
  background-color: #FFF7F7;
  border-radius: 20px;
  height: 180px;
  font-weight: bold;
  
}

.formulario h1{
  display: flex;
  justify-content: center;
  
}

.textao h1{
  display: flex;
  justify-content: center;
  font-size:35px;
}

.formulario{
  margin: 40px auto;
}

